<div class="container" style="margin-top: 100px; width: 75%;">
  <div class="row" style="padding: 20px 40px;">
    <div class="col">
      <h3>Dictionary</h3>
      <input #search="ngModel" pattern="[A-Za-z0-9]+" required id="search" class="form-control" style="margin: 20px 0px;" type="text"
        (keyup)="getDictionary()" [(ngModel)]="searchWord" placeholder="search here">
      @if(search.control.dirty && search.control.invalid && searchWord==''){
      <span class="text-danger">insert word to search</span>
      }
      @else if(searchWord != "" && search.control.invalid){
        <span class="text-danger">Only letter is Allowed (UnExpected examples +/-=*)</span>
        }
      @if (!found && searchWord != '') {<h3>Not Found</h3>}
      @if(found)
      {
        <div>
        <h4>{{dicInfo?.word}}</h4>
        <tabset>
          <tab aria-controls heading="Meaning" id="tab1"><br>
            <ul>
              @for (meaning of dicInfo?.meanings; track $index) {
              <p style="font-style: italic;">{{meaning.partOfSpeech}}</p>
              @for (definiton of meaning.definitions; track $index) {
              <li>{{definiton.definition}}</li>
              }
              <br>
              }
            </ul>
          </tab>
          <tab heading="Synonyms"><br>
            <ul>
              @for (meaning of dicInfo?.meanings; track $index) {
              @for (synonym of meaning.synonyms; track $index) {
              <li>{{synonym}}</li>
              }
              <br>
              }
            </ul>
          </tab>
          <tab heading="Definitions"><br>
            <p>Therer we Show Examples for this word</p><br>
            <ul>
              @for (meaning of dicInfo?.meanings; track $index) {
              @for (definiton of meaning.definitions; track $index) {
              @if(definiton.example){<li>{{definiton.example}}</li>}
              }
              <br>
              }
            </ul>
          </tab>
          <tab heading="Audio"><br><span style=" font-weight: bold;">click to hear voice</span>
            <button style="border: none; background: none;" (click)="playaudio()">
              <i class="fa-solid fa-volume-high" style="color: #74C0FC;"></i>
            </button>
          </tab>
        </tabset>
      </div>
      }
    </div>
  </div>
</div>