<div class="container" style="margin-top: 100px; width: 75%;">
  <div class="row" style="padding: 20px 40px;">
      <div class="col">
          <h3>Dictionary</h3>
          <input class="form-control" style="margin: 20px 0px;" type="text" [(ngModel)]="word" placeholder="search here" >
          <div>
            <tabset>
              <tab aria-controls  heading="Meaning" id="tab1"(selectTab)="getDictionary()"><br>Basic content</tab>
              <tab heading="Synonyms"><br>Basic content 1</tab>
              <tab heading="Definitions"><br>Basic content 2</tab>
              <tab heading="Audio"><br>click to hear voice
                <button style="border: none; background: none;">
                  <i class="fa-solid fa-volume-high" style="color: #74C0FC;"></i>
                </button>
              </tab>
              
            </tabset>
          </div>
          <h6>{{word1}}</h6>
      </div>
  </div>
</div>