/* You can add global styles to this file, and also import other style files */
body {
    background-image: linear-gradient(to right, #6dcfd2, #c1f1fa);
}

.container {
    box-shadow: -6px -6px 10px 0px #6dcacd, 6px 6px 10px -5px grey;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 10px;
}